html {
  height: 100%;
  width: 100%;
  .button1-image { 
      background-image: url('https://github.com/NotRedbug/Heppy-/assets/168013587/7d230e14-5765-4ce7-a295-775bf04cc404'); 
      background-size: cover; /* Adjust the background image size to cover the entire button */ 
      background-repeat: no-repeat;
      border-radius:5px;/* Prevent the background image from repeating */ 
      width: 200px; /* Set the width of the button */ 
      height: 90px; /* Set the height of the button */ 
      color: black; /* Set the text color of the button */ 
      border: none; /* Remove the button border */ 
      text-align: right; /* Align the text to the right */;
      /* Center the text within the button */ 
      font-size: 18px; 
      hover{opacity: 30;}
      /* Set the font size of the text */ 
  } 
  .button2-image { 
      background-image: url('https://github.com/NotRedbug/Heppy-/assets/168013587/c4d78e13-74ac-4ca6-a929-947f05eeacf1'); 
      background-size: cover;
    backdrop-filter:blur(10px);
      opacity:1;    /* Adjust the background image size to cover the entire button */ 
      background-repeat: no-repeat; /* Prevent the background image from repeating */ 
      width: 200px; /* Set the width of the button */ 
      height: 90px; /* Set the height of the button */ 
      color: black; /* Set the text color of the button */ 
      border:none;
      border-radius:5px;/* Remove the button border */ 
      text-align: center; /* Center the text within the button */ 
      font-size: 18px;
        /* Set the font size of the text */ 
      background-color:#f5f5f5;}
  .filter{    background-image: url('https://i.postimg.cc/kXQKt8sm/Copied-Item-1718882840253.png');
  
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    opacity:1;
    }
    .marcellus-regular {
      font-family: "Marcellus",serif;
        font-color:#ffffff;
      font-weight: 400;
      font-style: normal;
      
    }
    .button1-image:hover {
      opacity: 0.8;
    }
  
  footer {
	width: 100% auto;
	height: 100%;
    background-color: grey;
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}
.social-media{
	padding: 10px;
	display: flex;
	position: center;
    align-items: space-around;
	justify-content:center;
}

.social-media a {
    margin: 10px;
    font-size: 2rem;
    text-align:center;
    display: inline-block;
	color: var(--main-fonts-color);
}

.social-media a i{
	cursor: pointer;
}

.social-media  a:hover {
	color: var(--main-decor-color);
	text-shadow: 0 0 50px var(--main-decor-color);
}
h4{
  font-size:60px;
  font-family: "Marcellus",serif;
  font-weight: 400;
  font-style: normal;
}
}
.black_overlay {
  display: none;
  position: absolute;
  left: 11%;
  top: 30%;
  width: 100%;
  height: 45%;
  padding: 20px;
  align-content: center;
  border-radius: 10px;
  background-color: black;
  z-index: 500;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=100);
}
.white_content {
  display: none;
  position: absolute;
  left: 11%;
  top: 30%;
  width: 90%;
  height: 40%;
  padding: 16px;
  border: 16px solid orange;
  border-radius: 10px;
  color: #000000;
  background-color: #ffffff;
  z-index: 1002;
  overflow: auto;
  
}

